<div id="stickypadbuttonpanel" class="modal" style="display: none;">
	<div class="modal-header">Sticky Pad</div>
	<div class="modal-body"><div id="editor-container"></div></div>
	<div class="modal-footer"><button class="btn pull-right" data-bind="click: saveNote">Save</button></div>
</div>